*{
margin: 0;
padding: 0;
}
.header {
 background-color: gray;
 color: aliceblue;   
 padding: 30px 15px;
}
li{
   list-style: none;
   margin-bottom: 50px;
   text-decoration: none;
}
body {
    background-color: black;
}
h2 {
    color: aliceblue;
}
p{ 
  color: aliceblue;
}
a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid white;
    padding: 3px;
    border-radius: 10px;

}